html {
	background-image: url(background.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
	margin: 38px;
	padding: 10px;
}

canvas {
  display: block;
}

body {
	50vh
}

.heading {
  font-family: 'Arial Black', sans-serif;
  font-size: 36px; 
  border-radius: 5px;
}

.textBaseBig {
	font-family: 'Arial Black', sans-serif;
	font-size: 30px; 
	margin-top: 18px;
}

.textBaseSmall {
	font-family: 'Arial', sans-serif;
	font-size: 20px; 
}

.letterInSquare {
  display: inline-block;
  width: 52px;
  height: 52px;
  text-align: center;
  margin-right: 5px;
	font-family: 'Arial Black', sans-serif;
	border-radius: 5px;
}
	
ol{
	list-style-type: none;
	counter-reset: number;
	margin-left: -45px;
	margin-top: -19px
}
ol > li{
	font-family: 'Arial', sans-serif;
	font-size: 20px; 
	font-weight: bold;
	padding: 5px;
}
ol > li:before {
	display: inline-block;
	text-align: center;
	margin: 3px 3px;
	line-height: 22px;
	width: 22px;
	height: 22px;
	counter-increment: number;
	content:counter(number);
	border-radius: 3px;
}
ol > li:nth-child(1):before { background: #ffc107; }
ol > li:nth-child(2):before { background: #A9A9A9; }
ol > li:nth-child(3):before { background: #8bc34a; }
ol > li:nth-child(4):before { background: #ffc107; }

ul li {
	padding: 5px;
	margin-left: 10px;
	list-style-type: disc;
}

.bottom-right {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 10px;
	margin-right: 20px;
}
